@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/GothamBook.ttf');
}
@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold.otf');
}

/* old color
#6096B4
#93BFCF
BDCDD6
FAF7F0
292929
muted*/

:root {

  /* --primary-clr-old: #82AAE3;
  --secondary-clr-old: #91D8E4;
  --tertiary-color-old: #BFEAF5;
  --bg-clr-light-old: #F9F9F9;
  --bg-clr-dark-old: #03001C;
  --bg-clr-2-old: #EAFDFC; */

  --primary-clr: rgba(24, 24, 35, 1);
  --secondary-clr:rgba(54, 54, 56, 1);
  
  --bg-clr-light: rgba(250, 250, 250, 1);
  --bg-clr-dark: rgba(24, 24, 35, 1);
  --bg-clr-muted: rgba(147, 147, 147, 1);
  --bg-clr-2:rgba(54, 54, 56, 1);

  --font-base: 'Roboto', sans-serif;

  --fs-300: 0.7rem;
  --fs-350: 0.9rem;
  --fs-400: 1rem;
  --fs-450: 1.125rem;
  --fs-500: 1.6rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 4rem;
  
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
}

/* UNIVERSAL SELECTOR */
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--bg-clr-dark);
  color: var(--bg-clr-light);
  font-family: var(--font-base);
  margin-top: 5rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: var(--bg-clr-light);
  transition: all 0.4s ease;
}

/* ------------- */


/* NAVBAR & LOGO */
.navbar {
  transition: all ease-in-out 0.5s;
  z-index: 9999;
  background-color: var(--bg-clr-light);
  border-bottom: 0.1rem solid var(--bg-clr-dark);
}
.nav-link {
  color: var(--bg-clr-dark);
}
.nav-link:hover {
  transition: 0.1ms ease;
  color: var(--bg-clr-2);
}
.nav-link:active {
  color: var(--bg-clr-dark);
}
.navbar-brand {
  text-transform: uppercase;
  color: var(--bg-clr-dark);
}
.navbar-brand:hover, .navbar-brand:visited, .navbar-brand:link {
  color: var(--bg-clr-dark);
}

/* CUSTOM BRAND */
.brand-name {
  font-family: 'Gotham Book'; 
 }
 .brand-surname {
   font-family: 'Gotham Bold'; 
}

  /* CUSTOM NAVBAR.TOGGLER --thanks to Haydn Adams of Youtube*/

  .navbar-toggler {
    width: 1rem;
    height: 1rem;
    position: relative;
    transition: .5s ease-in-out;
    margin-top: -0.5rem;
  }
  
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
  }
  
  .navbar-toggler span {
    margin: 0;
    padding: 0;
  }
  
  .toggler-icon {
    display: block;
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background-color: var(--bg-clr-dark);
    border-radius: 0.063rem;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .middle-toggler {
      margin-top: 0;
  }
  
  
  /* State when the navbar is collapsed */
  
  .navbar-toggler.collapsed .top-toggler {
      position: absolute;
      top: 0;
      transform: rotate(0deg);
  }
  
  .navbar-toggler.collapsed .middle-toggler {
      opacity: 1;
      position: absolute;
      top: 0.63rem;
      filter: alpha(opacity=100);
  }
  
  .navbar-toggler.collapsed .bottom-toggler {
      position: absolute;
      top: 1.2rem;
      transform: rotate(0deg);
  }
  
  /* when navigation is clicked */
  
  .navbar-toggler .top-toggler {
      top: inherit;
      transform: rotate(135deg);
  }
  
  .navbar-toggler .middle-toggler {
      opacity: 0;
      top: inherit;
      filter: alpha(opacity=0);
  }
  
  .navbar-toggler .bottom-toggler {
      top: inherit;
      transform: rotate(-135deg);
  }
  
  /* Color of 3 lines */
  
  .navbar-toggler.collapsed .toggler-icon {
    background-color: var(--bg-clr-dark);
  }
  
  /* -------------- */

/* BACK TO TOP */
  #progress {
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 9999;
  }
  #progress-value {
    display: block;
    height: calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
    background-color: var(--bg-clr-2);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    color: var(--bg-clr-light);
  }

  /* START */
  section {
    padding: 2rem 0;
    overflow: hidden;
  }

  .section-title {
    text-align: start;
  }

  .section-title h2 {
    position: relative;
  }

  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: var(--bg-clr-light);
    bottom: 1rem;
    left: 8.5rem;
  }

  .award h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: var(--bg-clr-light);
    bottom: 1rem;
    left: 25rem !important;
  }

@media (min-width: 992px) {
  #instafeed-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 5rem 2rem 5rem;
    /* margin: 4rem; */
  }
}

@media (max-width: 991px){
  .section-title {
    text-align: center;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 20rem;
    height: 0.2rem;
    background: var(--bg-clr-light);
    top: 3.33rem;
    left: calc(50% - 10rem);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 6rem;
    height: 0.8rem;
    background: var(--bg-clr-muted);
    top: 3rem;
    left: calc(50% - 3rem);
  }
  
  .award h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 6rem;
    height: 0.8rem;
    background: var(--bg-clr-muted);
    top: 3rem;
    left: calc(50% - 3rem) !important;
  }

  .skills-content {
    margin-top: 3rem;
  }
  #instafeed-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 5rem 2rem 5rem;
  }
}

@media (max-width: 550px){
  #instafeed-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem 2rem 5rem;
  }
}

  /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 2.5rem auto 3rem auto;
  list-style: none;
  text-align: center;
  background: var(--bg-clr-light);
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--bg-clr-2);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: var(--bg-clr-dark);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  transition: all 0.5s ease;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background:rgba(54, 54, 56, 0.9);
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background:rgba(54, 54, 56, 0.8);
}

.portfolio .portfolio-wrap .portfolio-links a+a {
  border-left: 1px solid var(--bg-clr-2);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}


.row-img {
  width: 100%;
}
.row-overlay {
  background-color: var(--tertiary-color);
  opacity: 0.2;
}
.row-overlay-icon {
 width: 100%;
}
.row-overlay-text {
  background-color: var(--bg-clr-light);
}
.overlay-icon, .overlay-title, .overlay-text {
  color: var(--bg-clr-dark);
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  color: var(--bg-clr-light);
}
.about h3 span {
  text-transform: uppercase;
}

.about ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: var(--fs-350);
}

.about ul strong {
  margin-right: 10px;
}

.about ul i {
  margin-right: 5px;
  color: var(--bg-clr-muted);
  line-height: 0;
}
.about ul li span, .about-me {
  color: var(--bg-clr-light);
}
.about p:last-child {
  margin-bottom: 0;
}

.about-profile {
  border-radius: 0.2rem;
  background-color: var(--bg-clr-muted);
}

#about .btn {
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  font-size: 0.7rem;
}
#about .btn:hover {
  opacity: 0.9;
}

/*#instafeed-container video{
  display: none;
} */
/*--------------------------------------------------------------
# skills
--------------------------------------------------------------*/

.skills-content {
  padding-top: 3rem;
}

.percentage {
  position: relative;
  width: 100%;
  height: 0.7rem;
  background-color: var(--bg-clr-muted);
  display: block;
  margin: 0 0 0.5rem 0;
}
.percentage-amount {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--bg-clr-light);
}

.skills .progress {
  height: 3.75rem;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 0.375rem 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: var(--bg-clr-light);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}


/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  margin: 1.25rem 0;
  color: var(--bg-clr-light);
}

.resume .resume-item {
  font-size: var(--fs-400);
  padding: 0 0 1.25rem 1.25rem;
  margin-top: -0.125rem;
  border-left: 0.125rem solid var(--bg-clr-muted);
  position: relative;
}

.resume .resume-item h4 {
  line-height: var(--fs-450);
  font-size: var(--fs-450);
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase;
  color: var(--bg-clr-light);
  margin-bottom: 0.625rem;
}

.resume .resume-item h5 {
  font-size: var(--fs-300);
  color: var(--bg-clr-light);
  background: var(--bg-clr-2);
  padding: 0.313rem 0.938rem;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.resume .resume-item p {
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
  color: var(--bg-clr-light);
  padding: 0;
  margin: 0;
}

.resume-margin {
  margin-bottom: var(--fs-450) !important;
}

.resume .resume-item em {
  font-size: var(--fs-350);
  color: var(--bg-clr-muted) !important;
}

.resume .resume-item ul {
  margin-top: 1rem;
  padding-left: 1.25rem;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  font-size: var(--fs-350);
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--bg-clr-muted);
  border: 2px solid var(--bg-clr-light);
}

/* FOOTER */

  .sns-icons-footer {
    color: var(--bg-clr-light) !important;
  }
  .sns-icons-footer:hover {
    transform: scale(1.2);
  }